@font-face {
  font-family: "feather";
  src: url('feather.ttf') format('truetype');
}

[class^="feather-"], [class*=" feather-"] {
  font-family: 'feather' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.feather-activity::before { content: "\ea01"; }
.feather-airplay::before { content: "\ea02"; }
.feather-alert-circle::before { content: "\ea03"; }
.feather-alert-octagon::before { content: "\ea04"; }
.feather-alert-triangle::before { content: "\ea05"; }
.feather-align-center::before { content: "\ea06"; }
.feather-align-justify::before { content: "\ea07"; }
.feather-align-left::before { content: "\ea08"; }
.feather-align-right::before { content: "\ea09"; }
.feather-anchor::before { content: "\ea0a"; }
.feather-aperture::before { content: "\ea0b"; }
.feather-archive::before { content: "\ea0c"; }
.feather-arrow-down-circle::before { content: "\ea0d"; }
.feather-arrow-down-left::before { content: "\ea0e"; }
.feather-arrow-down-right::before { content: "\ea0f"; }
.feather-arrow-down::before { content: "\ea10"; }
.feather-arrow-left-circle::before { content: "\ea11"; }
.feather-arrow-left::before { content: "\ea12"; }
.feather-arrow-right-circle::before { content: "\ea13"; }
.feather-arrow-right::before { content: "\ea14"; }
.feather-arrow-up-circle::before { content: "\ea15"; }
.feather-arrow-up-left::before { content: "\ea16"; }
.feather-arrow-up-right::before { content: "\ea17"; }
.feather-arrow-up::before { content: "\ea18"; }
.feather-at-sign::before { content: "\ea19"; }
.feather-award::before { content: "\ea1a"; }
.feather-bar-chart-2::before { content: "\ea1b"; }
.feather-bar-chart::before { content: "\ea1c"; }
.feather-battery-charging::before { content: "\ea1d"; }
.feather-battery::before { content: "\ea1e"; }
.feather-bell-off::before { content: "\ea1f"; }
.feather-bell::before { content: "\ea20"; }
.feather-bluetooth::before { content: "\ea21"; }
.feather-bold::before { content: "\ea22"; }
.feather-book-open::before { content: "\ea23"; }
.feather-book::before { content: "\ea24"; }
.feather-bookmark::before { content: "\ea25"; }
.feather-box::before { content: "\ea26"; }
.feather-briefcase::before { content: "\ea27"; }
.feather-calendar::before { content: "\ea28"; }
.feather-camera-off::before { content: "\ea29"; }
.feather-camera::before { content: "\ea2a"; }
.feather-cast::before { content: "\ea2b"; }
.feather-check-circle::before { content: "\ea2c"; }
.feather-check-square::before { content: "\ea2d"; }
.feather-check::before { content: "\ea2e"; }
.feather-chevron-down::before { content: "\ea2f"; }
.feather-chevron-left::before { content: "\ea30"; }
.feather-chevron-right::before { content: "\ea31"; }
.feather-chevron-up::before { content: "\ea32"; }
.feather-chevrons-down::before { content: "\ea33"; }
.feather-chevrons-left::before { content: "\ea34"; }
.feather-chevrons-right::before { content: "\ea35"; }
.feather-chevrons-up::before { content: "\ea36"; }
.feather-chrome::before { content: "\ea37"; }
.feather-circle::before { content: "\ea38"; }
.feather-clipboard::before { content: "\ea39"; }
.feather-clock::before { content: "\ea3a"; }
.feather-cloud-drizzle::before { content: "\ea3b"; }
.feather-cloud-lightning::before { content: "\ea3c"; }
.feather-cloud-off::before { content: "\ea3d"; }
.feather-cloud-rain::before { content: "\ea3e"; }
.feather-cloud-snow::before { content: "\ea3f"; }
.feather-cloud::before { content: "\ea40"; }
.feather-code::before { content: "\ea41"; }
.feather-codepen::before { content: "\ea42"; }
.feather-codesandbox::before { content: "\ea43"; }
.feather-coffee::before { content: "\ea44"; }
.feather-columns::before { content: "\ea45"; }
.feather-command::before { content: "\ea46"; }
.feather-compass::before { content: "\ea47"; }
.feather-copy::before { content: "\ea48"; }
.feather-corner-down-left::before { content: "\ea49"; }
.feather-corner-down-right::before { content: "\ea4a"; }
.feather-corner-left-down::before { content: "\ea4b"; }
.feather-corner-left-up::before { content: "\ea4c"; }
.feather-corner-right-down::before { content: "\ea4d"; }
.feather-corner-right-up::before { content: "\ea4e"; }
.feather-corner-up-left::before { content: "\ea4f"; }
.feather-corner-up-right::before { content: "\ea50"; }
.feather-cpu::before { content: "\ea51"; }
.feather-credit-card::before { content: "\ea52"; }
.feather-crop::before { content: "\ea53"; }
.feather-crosshair::before { content: "\ea54"; }
.feather-database::before { content: "\ea55"; }
.feather-delete::before { content: "\ea56"; }
.feather-disc::before { content: "\ea57"; }
.feather-divide-circle::before { content: "\ea58"; }
.feather-divide-square::before { content: "\ea59"; }
.feather-divide::before { content: "\ea5a"; }
.feather-dollar-sign::before { content: "\ea5b"; }
.feather-download-cloud::before { content: "\ea5c"; }
.feather-download::before { content: "\ea5d"; }
.feather-dribbble::before { content: "\ea5e"; }
.feather-droplet::before { content: "\ea5f"; }
.feather-edit-2::before { content: "\ea60"; }
.feather-edit-3::before { content: "\ea61"; }
.feather-edit::before { content: "\ea62"; }
.feather-external-link::before { content: "\ea63"; }
.feather-eye-off::before { content: "\ea64"; }
.feather-eye::before { content: "\ea65"; }
.feather-facebook::before { content: "\ea66"; }
.feather-fast-forward::before { content: "\ea67"; }
.feather-feather::before { content: "\ea68"; }
.feather-figma::before { content: "\ea69"; }
.feather-file-minus::before { content: "\ea6a"; }
.feather-file-plus::before { content: "\ea6b"; }
.feather-file-text::before { content: "\ea6c"; }
.feather-file::before { content: "\ea6d"; }
.feather-film::before { content: "\ea6e"; }
.feather-filter::before { content: "\ea6f"; }
.feather-flag::before { content: "\ea70"; }
.feather-folder-minus::before { content: "\ea71"; }
.feather-folder-plus::before { content: "\ea72"; }
.feather-folder::before { content: "\ea73"; }
.feather-framer::before { content: "\ea74"; }
.feather-frown::before { content: "\ea75"; }
.feather-gift::before { content: "\ea76"; }
.feather-git-branch::before { content: "\ea77"; }
.feather-git-commit::before { content: "\ea78"; }
.feather-git-merge::before { content: "\ea79"; }
.feather-git-pull-request::before { content: "\ea7a"; }
.feather-github::before { content: "\ea7b"; }
.feather-gitlab::before { content: "\ea7c"; }
.feather-globe::before { content: "\ea7d"; }
.feather-grid::before { content: "\ea7e"; }
.feather-hard-drive::before { content: "\ea7f"; }
.feather-hash::before { content: "\ea80"; }
.feather-headphones::before { content: "\ea81"; }
.feather-heart::before { content: "\ea82"; }
.feather-help-circle::before { content: "\ea83"; }
.feather-hexagon::before { content: "\ea84"; }
.feather-home::before { content: "\ea85"; }
.feather-image::before { content: "\ea86"; }
.feather-inbox::before { content: "\ea87"; }
.feather-info::before { content: "\ea88"; }
.feather-instagram::before { content: "\ea89"; }
.feather-italic::before { content: "\ea8a"; }
.feather-key::before { content: "\ea8b"; }
.feather-layers::before { content: "\ea8c"; }
.feather-layout::before { content: "\ea8d"; }
.feather-life-buoy::before { content: "\ea8e"; }
.feather-link-2::before { content: "\ea8f"; }
.feather-link::before { content: "\ea90"; }
.feather-linkedin::before { content: "\ea91"; }
.feather-list::before { content: "\ea92"; }
.feather-loader::before { content: "\ea93"; }
.feather-lock::before { content: "\ea94"; }
.feather-log-in::before { content: "\ea95"; }
.feather-log-out::before { content: "\ea96"; }
.feather-mail::before { content: "\ea97"; }
.feather-map-pin::before { content: "\ea98"; }
.feather-map::before { content: "\ea99"; }
.feather-maximize-2::before { content: "\ea9a"; }
.feather-maximize::before { content: "\ea9b"; }
.feather-meh::before { content: "\ea9c"; }
.feather-menu::before { content: "\ea9d"; }
.feather-message-circle::before { content: "\ea9e"; }
.feather-message-square::before { content: "\ea9f"; }
.feather-mic-off::before { content: "\eaa0"; }
.feather-mic::before { content: "\eaa1"; }
.feather-minimize-2::before { content: "\eaa2"; }
.feather-minimize::before { content: "\eaa3"; }
.feather-minus-circle::before { content: "\eaa4"; }
.feather-minus-square::before { content: "\eaa5"; }
.feather-minus::before { content: "\eaa6"; }
.feather-monitor::before { content: "\eaa7"; }
.feather-moon::before { content: "\eaa8"; }
.feather-more-horizontal::before { content: "\eaa9"; }
.feather-more-vertical::before { content: "\eaaa"; }
.feather-mouse-pointer::before { content: "\eaab"; }
.feather-move::before { content: "\eaac"; }
.feather-music::before { content: "\eaad"; }
.feather-navigation-2::before { content: "\eaae"; }
.feather-navigation::before { content: "\eaaf"; }
.feather-octagon::before { content: "\eab0"; }
.feather-package::before { content: "\eab1"; }
.feather-paperclip::before { content: "\eab2"; }
.feather-pause-circle::before { content: "\eab3"; }
.feather-pause::before { content: "\eab4"; }
.feather-pen-tool::before { content: "\eab5"; }
.feather-percent::before { content: "\eab6"; }
.feather-phone-call::before { content: "\eab7"; }
.feather-phone-forwarded::before { content: "\eab8"; }
.feather-phone-incoming::before { content: "\eab9"; }
.feather-phone-missed::before { content: "\eaba"; }
.feather-phone-off::before { content: "\eabb"; }
.feather-phone-outgoing::before { content: "\eabc"; }
.feather-phone::before { content: "\eabd"; }
.feather-pie-chart::before { content: "\eabe"; }
.feather-play-circle::before { content: "\eabf"; }
.feather-play::before { content: "\eac0"; }
.feather-plus-circle::before { content: "\eac1"; }
.feather-plus-square::before { content: "\eac2"; }
.feather-plus::before { content: "\eac3"; }
.feather-pocket::before { content: "\eac4"; }
.feather-power::before { content: "\eac5"; }
.feather-printer::before { content: "\eac6"; }
.feather-radio::before { content: "\eac7"; }
.feather-refresh-ccw::before { content: "\eac8"; }
.feather-refresh-cw::before { content: "\eac9"; }
.feather-repeat::before { content: "\eaca"; }
.feather-rewind::before { content: "\eacb"; }
.feather-rotate-ccw::before { content: "\eacc"; }
.feather-rotate-cw::before { content: "\eacd"; }
.feather-rss::before { content: "\eace"; }
.feather-save::before { content: "\eacf"; }
.feather-scissors::before { content: "\ead0"; }
.feather-search::before { content: "\ead1"; }
.feather-send::before { content: "\ead2"; }
.feather-server::before { content: "\ead3"; }
.feather-settings::before { content: "\ead4"; }
.feather-share-2::before { content: "\ead5"; }
.feather-share::before { content: "\ead6"; }
.feather-shield-off::before { content: "\ead7"; }
.feather-shield::before { content: "\ead8"; }
.feather-shopping-bag::before { content: "\ead9"; }
.feather-shopping-cart::before { content: "\eada"; }
.feather-shuffle::before { content: "\eadb"; }
.feather-sidebar::before { content: "\eadc"; }
.feather-skip-back::before { content: "\eadd"; }
.feather-skip-forward::before { content: "\eade"; }
.feather-slack::before { content: "\eadf"; }
.feather-slash::before { content: "\eae0"; }
.feather-sliders::before { content: "\eae1"; }
.feather-smartphone::before { content: "\eae2"; }
.feather-smile::before { content: "\eae3"; }
.feather-speaker::before { content: "\eae4"; }
.feather-square::before { content: "\eae5"; }
.feather-star::before { content: "\eae6"; }
.feather-stop-circle::before { content: "\eae7"; }
.feather-sun::before { content: "\eae8"; }
.feather-sunrise::before { content: "\eae9"; }
.feather-sunset::before { content: "\eaea"; }
.feather-table::before { content: "\eaeb"; }
.feather-tablet::before { content: "\eaec"; }
.feather-tag::before { content: "\eaed"; }
.feather-target::before { content: "\eaee"; }
.feather-terminal::before { content: "\eaef"; }
.feather-thermometer::before { content: "\eaf0"; }
.feather-thumbs-down::before { content: "\eaf1"; }
.feather-thumbs-up::before { content: "\eaf2"; }
.feather-toggle-left::before { content: "\eaf3"; }
.feather-toggle-right::before { content: "\eaf4"; }
.feather-tool::before { content: "\eaf5"; }
.feather-trash-2::before { content: "\eaf6"; }
.feather-trash::before { content: "\eaf7"; }
.feather-trello::before { content: "\eaf8"; }
.feather-trending-down::before { content: "\eaf9"; }
.feather-trending-up::before { content: "\eafa"; }
.feather-triangle::before { content: "\eafb"; }
.feather-truck::before { content: "\eafc"; }
.feather-tv::before { content: "\eafd"; }
.feather-twitch::before { content: "\eafe"; }
.feather-twitter::before { content: "\eaff"; }
.feather-type::before { content: "\eb00"; }
.feather-umbrella::before { content: "\eb01"; }
.feather-underline::before { content: "\eb02"; }
.feather-unlock::before { content: "\eb03"; }
.feather-upload-cloud::before { content: "\eb04"; }
.feather-upload::before { content: "\eb05"; }
.feather-user-check::before { content: "\eb06"; }
.feather-user-minus::before { content: "\eb07"; }
.feather-user-plus::before { content: "\eb08"; }
.feather-user-x::before { content: "\eb09"; }
.feather-user::before { content: "\eb0a"; }
.feather-users::before { content: "\eb0b"; }
.feather-video-off::before { content: "\eb0c"; }
.feather-video::before { content: "\eb0d"; }
.feather-voicemail::before { content: "\eb0e"; }
.feather-volume-1::before { content: "\eb0f"; }
.feather-volume-2::before { content: "\eb10"; }
.feather-volume-x::before { content: "\eb11"; }
.feather-volume::before { content: "\eb12"; }
.feather-watch::before { content: "\eb13"; }
.feather-wifi-off::before { content: "\eb14"; }
.feather-wifi::before { content: "\eb15"; }
.feather-wind::before { content: "\eb16"; }
.feather-x-circle::before { content: "\eb17"; }
.feather-x-octagon::before { content: "\eb18"; }
.feather-x-square::before { content: "\eb19"; }
.feather-x::before { content: "\eb1a"; }
.feather-youtube::before { content: "\eb1b"; }
.feather-zap-off::before { content: "\eb1c"; }
.feather-zap::before { content: "\eb1d"; }
.feather-zoom-in::before { content: "\eb1e"; }
.feather-zoom-out::before { content: "\eb1f"; }


